@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  font-family: "Work Sans", Arial, sans-serif;
}

h1 {
  font-size: 3rem;
}
